html { height: 100%; }

body {  /* Customization for the backround of the document */
    text-align: center;
    margin: 0 auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,255,235,1) 100%);
    background-image: linear-gradient(color, color); 
}

h1 {
    margin-top: 0;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

div.sneak-one {  /* Creates a div class that conains customization */
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.sneak-two { 
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.sneak-three {
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.sneak-four {
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.sneak-five {
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.sneak-six {
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.sneak-seven {
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.sneak-eight {
    position: absolute;
    background-color: black;
    top: 100px;
    left: 100px;  
    visibility: hidden;
}

div.A { /* Creates a div class that conains customization */
    width: 50px;
    height: 50px;
    background-color: red;
    position: fixed;
    visibility: hidden;
}

div.B {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: fixed;
    visibility: hidden;
}

div.C {
    width: 50px;
    height: 50px;
    background-color: green;
    position: fixed;
    visibility: hidden;
}

div.D {
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: fixed;
    visibility: hidden;
}

div.E {
    width: 50px;
    height: 50px;
    background-color: orangered;
    position: fixed;
    visibility: hidden;
}

div.F {
    width: 50px;
    height: 50px;
    background-color: orange;
    position: fixed;
    visibility: hidden;
}

div.G {
    width: 50px;
    height: 50px;
    background-color: cyan;
    position: fixed;
    visibility: hidden;
}

div.H {
    width: 50px;
    height: 50px;
    background-color: hotpink;
    position: fixed;
    visibility: hidden;
}

.navbar { 
    overflow: hidden;
    background-color: #333;
    display: fixed;
    position: sticky;
    top: 0;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text-color {
    margin-top: 1em;
    padding-top: 3px;
    padding-bottom: 10px;
    color: rgb(51, 51, 51);
    max-width: 50vw;
    margin: 0 auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(197,209,164,1) 0%);
}

.button-reveal-code {
    margin: 0 auto;
    width: 100px;
    height: 30px;
}

.button-hide-one {
    position: fixed;
    bottom: 730px;
    right: 92%;
    visibility: hidden;
    width: 100px;
    height: 30px;
}

.button-hide-two {
    position: fixed;
    bottom: 730px;
    right: 85%;
    visibility: hidden; 
    width: 100px;
    height: 30px;
}

.button-hide-three {
    position: fixed;
    bottom: 730px;
    right: 78%;
    visibility: hidden; 
    width: 100px;
    height: 30px;   
}

.box {
    background: white;
    transition:
    width 1s;
    background: 0.5s 1s; 
}

.box:hover {
    width: 200px;
    background-color: orangered;
}

.img {
    margin-top: 1em;
    padding-top: 3px;
    padding-bottom: 10px;
    color: rgb(51, 51, 51);
    max-width: 50vw;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
     "header header header header"
     "main main main main"
     "footer footer footer footer"
    ;
}

.special-img {
    max-width: 50vw;
    text-align: center; 
    margin: 0 auto;
    width: 50vw;
    height: 15vw;  
}

.tooltip { 
    position: relative; /* places an element relative to its current position without changing the layout around it, */
    display: inline-block; /* display: inline-block allows to set a width and height on the element. */
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden; /* hides the tooltip */
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Places the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible; /* shows the tooltip */
}

.next-page { /* customization for the next page button */
    max-width: 15vw;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: chocolate;
    text-align: center;
    margin: 1em auto;
}
